.default__exit_btn {
  font-size: 13px;
}

.default__username {
  font-size: 13px;
}

.default__active_link > span {
  border-bottom: 2px solid #ff0000;
}

.default__nav_link:hover {
  color: #ff0000;
}