.m-default {
  margin: $distance;
}

.m-md {
  margin: $distance * 3/2;
}

.m-l {
  margin: $distance * 2;
}

.m-xl {
  margin: $distance * 3;
}

.m-xxl {
  margin: $distance * 4;
}

.m-xxxl {
  margin: $distance * 8;
}

.mt-xxs {
  margin-top: $distance / 8;
}

.mt-xs {
  margin-top: $distance / 4;
}

.mt-sm {
  margin-top: $distance / 2;
}

.mt-default {
  margin-top: $distance;
}

.mt-md {
  margin-top: $distance * 3/2;
}

.mt-l {
  margin-top: $distance * 2;
}

.mt-xl {
  margin-top: $distance * 3;
}

.mt-xxl {
  margin-top: $distance * 4;
}

.mt-xxxl {
  margin-top: $distance * 8;
}

.mb-default {
  margin-bottom: $distance;
}

.mb-md {
  margin-bottom: $distance * 3/2;
}

.mb-l {
  margin-bottom: $distance * 2;
}

.mb-xl {
  margin-bottom: $distance * 3;
}

.mb-xxl {
  margin-bottom: $distance * 4;
}

.mb-xxxl {
  margin-bottom: $distance * 8;
}

.mr-xxs {
  margin-right: $distance / 8;
}

.mr-xs {
  margin-right: $distance / 4;
}

.mr-sm {
  margin-right: $distance / 2;
}

.mr-default {
  margin-right: $distance;
}

.mr-md {
  margin-right: $distance * 3/2;
}

.mr-l {
  margin-right: $distance * 2;
}

.mr-xl {
  margin-right: $distance * 3;
}

.mr-xxl {
  margin-right: $distance * 4;
}

.mr-xxxl {
  margin-right: $distance * 8;
}

.ml-xxs {
  margin-left: $distance / 8;
}

.ml-xs {
  margin-left: $distance / 4;
}

.ml-sm {
  margin-left: $distance / 2;
}

.ml-default {
  margin-left: $distance;
}

.ml-md {
  margin-left: $distance * 3/2;
}

.ml-l {
  margin-left: $distance * 2;
}

.ml-xl {
  margin-left: $distance * 3;
}

.ml-xxl {
  margin-left: $distance * 4;
}

.ml-xxxl {
  margin-left: $distance * 8;
}

.mx-xxs {
  margin: 0 $distance / 8;
}

.mx-xs {
  margin: 0 $distance / 4;
}

.mx-sm {
  margin: 0 $distance / 2;
}

.mx-default {
  margin: 0 $distance;
}

.mx-md {
  margin: 0 $distance * 3/2;
}

.mx-l {
  margin: 0 $distance * 2;
}

.mx-xl {
  margin: 0 $distance * 3;
}

.mx-xxl {
  margin: 0 $distance * 4;
}

.mx-xxxl {
  margin: 0 $distance * 8;
}

.no-padding {
  padding: 0;
}

.pt-xxs {
  padding-top: $distance / 8;
}

.pt-xs {
  padding-top: $distance / 4;
}

.pt-sm {
  padding-top: $distance / 2;
}

.pt-default {
  padding-top: $distance;
}

.pt-md {
  padding-top: $distance * 3/2;
}

.pt-l {
  padding-top: $distance * 2;
}

.pt-xl {
  padding-top: $distance * 3;
}

.pt-xxl {
  padding-top: $distance * 4;
}

.pt-xxxl {
  padding-top: $distance * 8;
}

.pr-xxs {
  padding-right: $distance / 8;
}

.pr-xs {
  padding-right: $distance / 4;
}

.pr-sm {
  padding-right: $distance / 2;
}

.pr-default {
  padding-right: $distance;
}

.pr-md {
  padding-right: $distance * 3/2;
}

.pr-l {
  padding-right: $distance * 2;
}

.pr-xl {
  padding-right: $distance * 3;
}

.pr-xxl {
  padding-right: $distance * 4;
}

.pr-xxxl {
  padding-right: $distance * 8;
}

.pl-xxs {
  padding-left: $distance / 8;
}

.pl-xs {
  padding-left: $distance / 4;
}

.pl-sm {
  padding-left: $distance / 2;
}

.pl-default {
  padding-left: $distance;
}

.pl-md {
  padding-left: $distance * 3/2;
}

.pl-l {
  padding-left: $distance * 2;
}

.pl-xl {
  padding-left: $distance * 3;
}

.pl-xxl {
  padding-left: $distance * 4;
}

.pl-xxxl {
  padding-left: $distance * 8;
}
